<div class="container" style="margin-top: 1.5rem;">
  <h2 class="title is-4">Crear Jugador</h2>
  <form [formGroup]="jugadorForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="nombre" class="label">Nombre:</label>
      <div class="control">
        <input class="input" id="nombre" formControlName="nombre" type="text" placeholder="Ingresa el nombre">
      </div>
      <p class="help is-danger" *ngIf="jugadorForm.controls['nombre'].invalid && jugadorForm.controls['nombre'].touched">
        El nombre es obligatorio.
      </p>
    </div>
    
    <div class="field">
      <label for="posicion" class="label">Posición:</label>
      <div class="control">
        <input class="input" id="posicion" formControlName="posicion" type="text" placeholder="Ingresa la posición">
      </div>
      <p class="help is-danger" *ngIf="jugadorForm.controls['posicion'].invalid && jugadorForm.controls['posicion'].touched">
        La posición es obligatoria.
      </p>
    </div>
    
    <!-- Se puede ocultar o mostrar el equipoId si es necesario -->
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary" [disabled]="jugadorForm.invalid">
          Crear Jugador
        </button>
      </div>
    </div>
  </form>
</div>
