<div class="container mt-4">
    <h2>Editar Jugador</h2>
    <form [formGroup]="jugadorForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text" class="form-control">
        <div *ngIf="jugadorForm.controls['nombre'].invalid && jugadorForm.controls['nombre'].touched" class="text-danger">
          El nombre es obligatorio.
        </div>
      </div>
      <div class="mb-3">
        <label for="posicion" class="form-label">Posición:</label>
        <input id="posicion" formControlName="posicion" type="text" class="form-control">
        <div *ngIf="jugadorForm.controls['posicion'].invalid && jugadorForm.controls['posicion'].touched" class="text-danger">
          La posición es obligatoria.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="jugadorForm.invalid">Actualizar Jugador</button>
    </form>
  </div>
  